<% provide(:title, "Edit product") %>
<h1>Update product</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control marginbottom10' %>

    <%= f.label :image_url %>
    <%= f.text_field :image_url, class: 'form-control marginbottom10' %>

    <%= f.label :description, "description" %>
    <%= f.text_field :description, class: 'form-control marginbottom10' %>

    <%= f.label :price, "price" %>
    <%= f.text_field :price, class: 'form-control marginbottom10' %>

    <%= f.label :categories, "Categories" %><br>
    <% @categories.each do |category| %>
    <% @current_categories.each do |cur_category| %>
        <%if category == cur_category%>
            <%=check_box("categories","name", {:multiple => true,checked: true}, category.id, nil) %>
            <% else %>
            <%=check_box("categories","name", {:multiple => true}, category.id, nil) %>
            <% end %>
            <span> <%=category.name%></span><br>
    <% end %>
    <% end %>
    <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
</div>
</div>