<p id="notice"><%= notice %></p>

<% provide(:title, @product.name) %>
<div class="row">
	<div class="col-lg-6">
		<%= image_tag(@product.image_url,class:"img-responsive")%>
	</div>
	
	<div class="col-lg-6">
		<h4><%= @product.name %></h4>
		<div class="item-description">
			<span>
				<%= @product.description%>
			</span>
			<div class="info">
				<div class="pull-left margintop10 marginbottom10">
					<strong class="price">Price: $ <%= @product.price %></strong>
				</div>
				<br><br><br>

				<div class="pull-right">
					<%= form_tag addtocart_path do %>
					<div><%= hidden_field_tag :product_id, @product.id %></div>
					<%= submit_tag("add to cart",class: "btn btn-primary") %>
					<% end %>
				</div>
				<br>
				<hr>
			</div>
		</div>
	</div>
</div>

