<p id="notice"><%= notice %></p>

<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<aside class="col-md-4">
		<%if !@carts.nil? && @carts.count > 0%>
		<table>
			<thead>
				<tr>
					<th>STT</th>
					<th>Number of products</th>
					<th>Date</th>
					<th>Total price</th>
				</tr>
			</thead>
			<tbody>

				
				<%@carts.each_with_index do |cart,index| %>
				<%total=0%>
				<tr>
					<td><%=index+=1%></td>
					
					<td><%=link_to "#{cart.products.count} products", cart_path(cart) %></td>
					
					<td><%=cart.created_at%></td>
					<% cart.products.each do |product|
						total+= product.price * cart.cart_details.select{|cart_detail| (cart_detail.cart_id == cart.id && cart_detail.product_id == product.id)}[0].quantity
						end %>
						<td>$ <%= total %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<% end %>
		</aside>
	</div>

