<%= form_tag updatecart_path do %>
<table style="width: 100%">
	<thead>
		<tr>
			<th>STT</th>
			<th>Image</th>
			<th>Name</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Total</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%i = 0%>
		<%total = 0%>
		<%@items.each do |item| %>
		<tr>
			<td><%=i+=1%></td>
			<td><%=image_tag(item[:product].image_url,class:"img-responsive", style: "height: 100px")%></td>

			<td><%= link_to "#{item[:product].name}",  product_path(item[:product]) %></td>
			<td><%= text_field_tag :quantity, placeholder = "#{item[:quantity]}"%></td>
			<td><%=item[:product].price%></td>
			<td><%=item[:quantity]*item[:product].price%></td>
			<%total+=item[:quantity]*item[:product].price%>
			<td>
				<%= form_tag removefromcart_path do %>
				<div><%= hidden_field_tag :product_id, item[:product].id%></div>
				<%= button_tag(type: "submit", class: "btn btn-danger") do %>
				<i class="glyphicon glyphicon-remove"></i>
				<% end %>
				<% end %>
			</td>
		</tr>
		<%end%>
		<tr>
			<td colspan="6" style="text-align: right"><strong>Total: <%=total%></strong></td>
		</tr>
	</tbody>
</table>

<%= button_tag(type: "submit", class: "btn btn-warning pull-right margintop10") do %>
Update Cart
<% end %>
<% end %>

<%= link_to "Check out", new_cart_path, class: "btn btn-primary pull-right margintop10" %>
