<section class="slider">
	<div id="slidedemo" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#slidedemo" data-slide-to="0" class="active"></li>
			<li data-target="#slidedemo" data-slide-to="1"></li>
			<li data-target="#slidedemo" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<%= image_tag("slider1.jpg", class: "img-responsive", style: "height: 500px !important")%>
				<div class="carousel-caption">
					NEW 2015 Colection
				</div>
			</div>
			<div class="item">
				<%= image_tag("slider2.jpg", class: "img-responsive", style: "height: 500px !important")%>

				<div class="carousel-caption">
					Create your style
				</div>
			</div>
			<div class="item">
				<%= image_tag("slider3.jpg", class: "img-responsive", style: "height: 500px !important")%>

				<div class="carousel-caption">
					New arrivals from top brands
				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#slidedemo" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#slidedemo" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</section>

<section class="content">
	<div class="margintop40">
		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#NEW-ARRIVALS" aria-controls="NEW ARRIVALS" role="tab" data-toggle="tab">NEW ARRIVALS</a></li>
				<li role="presentation"><a href="#POPULAR" aria-controls="POPULAR" role="tab" data-toggle="tab">POPULAR</a></li>
				<li role="presentation"><a href="#BEST-SELLERS" aria-controls="BEST SELLERS" role="tab" data-toggle="tab">BEST SELLERS</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="NEW-ARRIVALS">
					<% if @products.any? %>
					<div class="product-lists">
						<div class="row">
							<%for i in 1..4 do%>
							<div class="col-sm-7 col-lg-3 margintop40">
								<% for j in (3*i-2)..(i*3) do  %>
									<% if !@products[j-1].nil? %>
										<%= render 'products/product', product: @products[j-1]%>
									<% end %>
								<% end %>
							</div>
							<% end %>
						</div>
						<%= will_paginate @products%>
					</div>
					<% end %>
				</div>
				<div role="tabpanel" class="tab-pane" id="POPULAR"></div>
				<div role="tabpanel" class="tab-pane" id="BEST-SELLERS"></div>
			</div>
		</div>
	</div>
	<!-- end product list -->
</section>