<header>
	<div class="main-header">
		<div class="container">
			<div class="row">
				<div class="col-md-3 pull-left margintop10 marginbottom10">
					<%=link_to image_tag("logo.jpg"),root_path %>
					
				</div>
				<div class="input-group pull-left col-md-4 margintop10 marginbottom10">
					<input type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
					</span>
				</div>
				
				<div class="col-sm-4 pull-right margintop10">
					<nav>
						<ul class="nav navbar-nav">
							<li><%= link_to "Sign Up", signup_path %></li>
							<% if logged_in? %>
							<% if current_user.admin?%>
							<li><%= link_to "Users", users_path %></li>
							<% end %>
							
							<li class="dropdown">
								<a class="dropdown-tggle" data-toggle="dropdown">Account <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><%= link_to "Profile", current_user %></li>
									<li><%= link_to "Settings", edit_user_path(current_user) %></li>
									<li class="devider"></li>
									<li>
										<%= link_to "Log out", logout_path, method: "delete" %>
									</li>
								</ul>
							</li>
							<% else %>
							<li><%= link_to "Log in", login_path %></li>
							<% end %>
						</ul>
					</nav>
					<div class="cart margintop30 pull-right">
						<div class="cart-w">
							<div class="cart-info">
								<span>
									<a href="#" class="btn-cart">
										<i class="glyphicon glyphicon-shopping-cart"></i>
										<strong>CART</strong>
										<span>2 products</span>
										<span class="caret"></span>
									</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end main-header -->
	<%= render 'layouts/cartquickview'%>
	<!-- navbar-fixed-top -->
	<nav class="navbar navbar-default">
		<div class="container menu">
			<div class="main-nav margintop10 marginbottom10">
				<ul class="nav nav-pills">
					<li role="presentation" class="active"><a href="#">NEW</a></li>
					<li role="presentation"><a href="#">BRIDE</a></li>
					<li role="presentation"><a href="#">SHIRT</a></li>
					<li role="presentation"><a href="#">JEWELRY</a></li>
					<li role="presentation"><a href="#">BRIDAL PARTY &amp; GUESTS</a></li>
					<li role="presentation"><a href="#">SHOES &amp; ACCESORIES</a></li>
					<li role="presentation"><a href="#">LINGERIE</a></li>
					<li role="presentation"><a href="#">SALE</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>