<%= form_for(@cart_detail) do |f| %>
  <% if @cart_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart_detail.errors.count, "error") %> prohibited this cart_detail from being saved:</h2>

      <ul>
      <% @cart_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cart_id %><br>
    <%= f.number_field :cart_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
