<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @cart_detail.cart_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @cart_detail.product_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @cart_detail.quantity %>
</p>

<%= link_to 'Edit', edit_cart_detail_path(@cart_detail) %> |
<%= link_to 'Back', cart_details_path %>
